# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/
.gradle/
*.apk
*.aab

# iOS
ios/
.ios/

# Web
web/

# macOS
macos/

# Windows
windows/

# Linux
linux/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
